<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="../src/style/style.css">

    <title>Login and Sign up</title>

</head>
<body>

    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <h2>Login</h2>
                <p>go back to login</p>
                <a href="../Index.html"><input type="button" value="Login"></a>
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-child">
                <h2>Verify account</h2>
                <div class="icons">
                    <i class='bx bxl-google'></i>
                    <i class='bx bxl-github' ></i>
                    <i class='bx bxl-linkedin' ></i>
                </div>
                <p>Enter your username and code</p>
                <form id="FormVerify" class="form-signup">
                    <label>
                        <i class='bx bx-user-pin' ></i>
                        <input type="text" name="username" id="usernameVerify" placeholder="UserName">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt' ></i>
                        <input type="number" name="code" id="codeVerify" placeholder="Code">
                    </label>
                    <input type="submit" value="Sign up" id="sign-up-bottom-send" data-accion="Verify">
                </form>
            </div>
        </div>
    </div>

    <script src="../src/js/Verify.js"type="module" defer></script>
</body>
</html>